<!-- Recent Posts Section -->
<section id="recent-posts" class="recent-posts section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Latest News</h2>
      <p>Stay updated with the latest news from Chitatelecom</p>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <div class="row gy-5">
  
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
  
            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt="">
              <span class="post-date">January 10</span>
            </div>
  
            <div class="post-content d-flex flex-column">
  
              <h3 class="post-title">Enhancing Home Internet Experience with Chitatelecom</h3>
  
              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">John Doe</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Home Internet</span>
                </div>
              </div>
  
              <hr>
  
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
  
            </div>
  
          </div>
        </div><!-- End post item -->
  
        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="200">
  
            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt="">
              <span class="post-date">January 08</span>
            </div>
  
            <div class="post-content d-flex flex-column">
  
              <h3 class="post-title">Top 5 Reasons to Choose Chitatelecom for Your Internet Needs</h3>
  
              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Sara Wilsson</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Company News</span>
                </div>
              </div>
  
              <hr>
  
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
  
            </div>
  
          </div>
        </div><!-- End post item -->
  
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="post-item position-relative h-100">
  
            <div class="post-img position-relative overflow-hidden">
              <img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt="">
              <span class="post-date">January 05</span>
            </div>
  
            <div class="post-content d-flex flex-column">
  
              <h3 class="post-title">How Chitatelecom's Home Internet Plans Can Save You Money</h3>
  
              <div class="meta d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Michael Smith</span>
                </div>
                <span class="px-3 text-black-50">/</span>
                <div class="d-flex align-items-center">
                  <i class="bi bi-folder2"></i> <span class="ps-2">Savings Tips</span>
                </div>
              </div>
  
              <hr>
  
              <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
  
            </div>
  
          </div>
        </div><!-- End post item -->
  
      </div>
  
    </div>
  
  </section><!-- /Recent Posts Section -->
  