<!-- Pricing Section -->
<section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Choose a plan that fits your needs and budget. Enjoy high-speed internet at unbeatable value.</p>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <div class="row gy-4">
  
        <!-- Free Plan -->
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="pricing-tem">
            <h3 style="color: #20c997;">Normal Plan</h3>
            <div class="price"><sup>Tshs</sup>79000<span> / mo</span></div>
            <div class="icon">
              <i class="bi bi-box" style="color: #20c997;"></i>
            </div>
            <ul>
              
              <li>10 Mbps Speed</li>
              <li>Free Installation</li>
              <li>Basic connectivity</li>
              <li class="na">24/7 priority support</li>
              <li class="na">Unlimited streaming</li>
            </ul>
            <a href="#" class="btn-buy">Get Started</a>
          </div>
        </div><!-- End Free Plan -->
  
        <!-- Starter Plan -->
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-tem">
            <span class="featured">Best Value</span>
            <h3 style="color: #0dcaf0;">Starter Plan</h3>
            <div class="price"><sup>Tshs</sup>129000<span> / mo</span></div>
            <div class="icon">
              <i class="bi bi-send" style="color: #0dcaf0;"></i>
            </div>
            <ul>
              <li>20 Mbps speed</li>
              <li>Free Installation</li>
              <li>Standard support</li>
              <li>Secure connection</li>
              <li class="na">Unlimited data</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div><!-- End Starter Plan -->
  
        <!-- Business Plan -->
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="pricing-tem">
            <h3 style="color: #fd7e14;">Business Plan</h3>
            <div class="price"><sup>Tshs</sup>159000<span> / mo</span></div>
            <div class="icon">
              <i class="bi bi-airplane" style="color: #fd7e14;"></i>
            </div>
            <ul>
              <li>50 Mbps speed</li>
              <li>Basic connectivity</li>
              <li>Priority support</li>
              <li>Advanced security</li>
              <li>Free router</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div><!-- End Business Plan -->
  
        <!-- Ultimate Plan -->
        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="pricing-tem">
            <h3 style="color: #0d6efd;">Ultimate Plan</h3>
            <div class="price"><sup>Tshs</sup>290000<span> / mo</span></div>
            <div class="icon">
              <i class="bi bi-rocket" style="color: #0d6efd;"></i>
            </div>
            <ul>
              <li>Unlimited speed</li>
              <li>Unlimited data</li>
              <li>Dedicated support</li>
              <li>Premium security</li>
              <li>Free installation</li>
            </ul>
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div><!-- End Ultimate Plan -->
  
      </div><!-- End pricing row -->
  
    </div>
  
  </section><!-- /Pricing Section -->
  