<!-- Stats Section -->
<section id="stats" class="stats section" style="position: relative; overflow: hidden;">

  <!-- Lottie Background -->
  <dotlottie-player
    src="https://lottie.host/5c1fff86-f066-4516-acb7-5f62437cd215/vctpQVfXnN.lottie"
    background="transparent"
    speed="1.5"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; pointer-events: none;"
    loop
    autoplay>
  </dotlottie-player>

  <!-- Content -->
  <div class="container" data-aos="fade-up" data-aos-delay="100" style="position: relative; z-index: 2;">
    <div class="row gy-4">
      
      <!-- Satisfied Clients -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
            <p>Satisfied Clients</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <!-- Successful Projects -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-journal-richtext color-orange flex-shrink-0" style="color: #ee6c20;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="750" data-purecounter-duration="1" class="purecounter"></span>
            <p>Successful Projects</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <!-- Dedicated Support Hours -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-headset color-green flex-shrink-0" style="color: #15be56;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Dedicated Support Hours</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

      <!-- Passionate Team Members -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-people color-pink flex-shrink-0" style="color: #bb0852;"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
            <p>Passionate Team Members</p>
          </div>
        </div>
      </div><!-- End Stats Item -->

    </div>
  </div>
  
</section><!-- /Stats Section -->
